
@font-face {
    font-family: 'orange_juice';
    src: url('../fonts/orange_juice_2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'organique_demo';
    src: url('../fonts/organique_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	width: 100%;
}

.bd{
	position: absolute;
  	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 750px;
	background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
	opacity: 0.5;
	animation: huerotator 3s infinite alternate;
}

.body2{
	position: relative;
	margin: auto;
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
}
}
.name{
	margin-top: 75px;
	text-align: center;
	font-size:300px;
	color: #fff;
/*	background: -webkit-linear-gradient(#195fdf, #72a2fa, #81eed3, #a4fb6f, #f6bc72, #fe8be4, #fd5d88);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;*/
	font-family: 'orange_juice';

}


.sankakuleft{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 0px;
	left:0px;
	opacity: 0.8; 

}
.sankakuleft2{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 100px;
	left:0px;
	opacity: 0.8;

}.sankakuleft3{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 200px;
	left:0px;
	opacity: 0.8;

}.sankakuleft4{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 300px;
	left:0px;
	opacity: 0.8;

}.sankakuleft5{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 400px;
	left:0px;
	opacity: 0.8;

}.sankakuleft6{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 500px;
	left:0px;
	opacity: 0.8;

}.sankakuleft7{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 600px;
	left:0px;
	opacity: 0.8;

}.sankakuleft8{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	position:absolute;
	top: 700px;
	left:0px;
	opacity: 0.8;
}

.sankakuleft9{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 700px;
	left:0px;
	opacity: 0.8; 
}
.sankakuleft10{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 800px;
	left:0px;
	opacity: 0.8; 
}
.sankakuleft11{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 900px;
	left:0px;
	opacity: 0.8; 
}
.sankakuleft12{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 1000px;
	left:0px;
	opacity: 0.8; 
}
.sankakuleft13{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 1100px;
	left:0px;
	opacity: 0.8; 
}
.sankakuleft14{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-left: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 1200px;
	left:0px;
	opacity: 0.8; 
}

.sankakuright{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 0px;
	right:0px;
	opacity: 0.8;

}
.sankakuright2{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 100px;
	right:0px;
	opacity: 0.8;

}
.sankakuright3{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 200px;
	right:0px;
	opacity: 0.8;

}
.sankakuright4{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 300px;
	right:0px;
	opacity: 0.8;

}
.sankakuright5{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 400px;
	right:0px;
	opacity: 0.8;

}
.sankakuright6{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 500px;
	right:0px;
	opacity: 0.8;

}
.sankakuright7{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 600px;
	right:0px;
	opacity: 0.8;

}
.sankakuright8{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	position:absolute;
	top: 700px;
	right:0px;
	opacity: 0.8;
}
.sankakuright9{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 700px;
	right:0px;
	opacity: 0.8;

}
.sankakuright10{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 800px;
	right:0px;
	opacity: 0.8;

}
.sankakuright11{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 900px;
	right:0px;
	opacity: 0.8;

}
.sankakuright12{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 1000px;
	right:0px;
	opacity: 0.8;

}
.sankakuright13{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 1100px;
	right:0px;
	opacity: 0.8;

}
.sankakuright14{
	width: 0px ;
	height: 0px ;
	border-top: 50px solid transparent;
	border-right: 100px solid #9c9caa;
	border-bottom: 50px solid transparent;
	position:absolute;
	top: 1200px;
	right:0px;
	opacity: 0.8;

}
.container-fluid{
	text-align: center;
	font-size: 24px;
    color: #000;
    font-weight: bolder;
    padding-left: 245px !important;
    margin-bottom: 10px;
}
.col-sm-2 {
	position: relative;
	height: 50px;
	line-height: 50px;
	padding: 0 1em;
	background-color: #f0f0f0;
	margin-right: 35px;
}
.col-sm-2::before,
.col-sm-2::after {
	content: '';
	position: absolute;
}
.col-sm-2::before {
    top: 0;
    left: -14px;
    z-index: 2;
    border-width: 25px 14px;
    border-style: solid;
    border-color: #eee;
    border-left-color: transparent;
}
.col-sm-2::after {
	top: 0;
    right: -14px;
    z-index: 2;
    border-width: 25px 14px;
    border-style: solid;
    border-color: #eee;
    border-right-color: transparent;
}

a{
	color: #000 !important;
}

.article{
	width: 1000px;
	margin: auto;
}

.frame {
	margin: auto;
	text-align: center;
}
.frame img{
	box-shadow:10px 15px 15px rgba(255, 251, 73, 0.4);
}
.about-name{
	font-family: 'organique_demo';
	font-size: 36px;
	font-size: 80px;
    padding-top: 50px;
    text-align: center;
    margin-top: 0px;
    color:  rgba(19, 255, 216, 0.96);
}

.sankaku{
	margin-left: 240px;
}

.article-sankaku{
	width: 0;
    height: 0;
    border: 185px solid transparent;
    border-top: 270px solid rgba(0, 255, 255, 0.51);
    margin-top: 50px;
    border-bottom-width: 0px;
    display: inline-block;
  	margin-left: -150px;
  	margin-right: -150px;
  	position: relative;

}
.article-sankaku2{
	width: 0;
    height: 0;
    border: 185px solid transparent;
    border-bottom:270px solid rgba(92, 147, 255, 0.54);
    margin-top: 50px;
    border-top-width: 0px;
    display:inline-block;
    position: relative;
}

.birth{
    position: absolute;
    color: #ff82ef;
    top: -230px;
    left: -90px;
    font-size: 35px;
    text-align: center;
}

.birth span{
	font-size: 28px;
    position: absolute;
    top: -51px;
    left: 62px;
    color: #fff;
}

.blood{
    position: absolute;
    color: #feff46;
    top: 106px;
    left: -21px;
    font-size: 53px;
    text-align: center;
    }
.blood span{
    font-size: 28px;
    color: #fff;
    position: absolute;
    top: 106px;
    left: -15px;}

.live{
	position: absolute;
    color: #ff82ef;
    top: -237px;
    left: -76px;
    font-size: 30px;
    text-align: center;
}
.live span{
	font-size: 28px;
    color: #fff;
    position: absolute;
    top: -47px;
    left: 55px;
}

#wrap{
width: 500px;
margin: 20px auto;
}
.smallimage {
background-color: #fff;
border: 1px solid #CCC;
padding: 3px;
margin: 10px 5px 0 0;
}
#lightbox{
position: absolute;
left: 0;
width: 100%;
z-index: 100;
text-align: center;
line-height: 0;
}
#lightbox img{
width: auto;
height: auto;
}
#lightbox a img{
border: none;
}
#outerImageContainer{
position: relative;
background-color: #fff;
width: 250px;
height: 250px;
margin: 0 auto;
}
#imageContainer{
padding: 10px;
}
#loading{
position: absolute;
top: 40%;
left: 0%;
height: 25%;
width: 100%;
text-align: center;
line-height: 0;
}
#hoverNav{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10;
}
#imageContainer>#hoverNav{
left: 0;
}
#hoverNav a{
outline: none;
}
#prevLink, #nextLink{
width: 49%;
height: 100%;
background-image: url(data:image/gif;base64,AAAA);
/* Trick IE into showing hover */
display: block;
}
#prevLink {
left: 0;
float: left;
}
#nextLink {
right: 0;
float: right;
}
#prevLink:hover, #prevLink:visited:hover {
background: url(../images/prevlabel.gif) left 15% no-repeat;
}
#nextLink:hover, #nextLink:visited:hover {
background: url(../images/nextlabel.gif) right 15% no-repeat;
}
#imageDataContainer{
font: 10px Verdana, Helvetica, sans-serif;
background-color: #fff;
margin: 0 auto;
line-height: 1.4em;
overflow: auto;
width: 100%;
}
#imageData{
padding:0 10px;
color: #666;
}
#imageData #imageDetails{
width: 70%;
float: left;
text-align: left;
}
#imageData #caption{
font-weight: bold;
}
#imageData #numberDisplay{
display: block;
clear: left;
padding-bottom: 1.0em;
}
#imageData #bottomNavClose{
width: 66px;
float: right;
padding-bottom: 0.7em;
outline: none;
}
#overlay{
position: absolute;
top: 0;
left: 0;
z-index: 90;
width: 100%;
height: 500px;
background-color: #000;
}

.category{
	list-style-type: none;
	text-align: center;
}

.category li{
	display: inline-block;
	font-size: 26px;
	padding: 20px 110px;

}